*{
    scroll-behavior: smooth;
    padding: 0;
    margin: 0;
}

html {
    background-color:rgb(3, 3, 3);
    color:white;
}
.header-grid {
    display: grid;
    grid-template-columns:auto auto;
}
.title-name {
    margin: 0;
    font-weight: 100;
    margin-left: .5%;
    font-size: 15px;
    font-family:Arial, Helvetica, sans-serif;
    position: fixed;
    top: 0;
    z-index: 3;
    left: 0;
    margin-top: .5%;
    margin-right: .5%;
}
.header-nav-bar {
    float: right;
}
    .header-nav-bar ul {
        list-style:none;
        margin-top: .5%;
        margin-right: .5%;
        padding: 0;
        overflow: hidden;
        top: 0;
        z-index: 3;
        right: 0;
        position: fixed;
    }
        .header-nav-bar li {
            display:inline;
            margin: 17px;
            font-size: 15px;
            font-family:Arial, Helvetica, sans-serif;
        }
            .header-nav-bar li a {
                text-decoration: none;
                color: white;
            }
.avatar {
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    }
.div-titles {
    font-size: 20px;
    font-weight: 100;
    font-family:Arial, Helvetica, sans-serif;
}
    .div-titles-projects {
        font-family:Arial, Helvetica, sans-serif;
        margin-left: 33%;
        font-size: 20px;
        font-weight: 100;
        margin-bottom: 1%;
    }
.header-desc-div {
    margin-top: 10%;
    margin-left: 20%;
    margin-bottom: 10%;
}
.header-desc {
    font-weight: 50;
    font-size: medium;
    font-style: italic;
    font-family:Arial, Helvetica, sans-serif;
}
.body-nav-bar {
    margin-left: 20%;
    margin-top: 20%;
    font-family:Arial, Helvetica, sans-serif;
}
    .body-nav-bar ul {
        list-style:none;
        margin: 0;
        padding: 0;
        overflow: hidden;
    }
        .body-nav-bar li {
            display: block;
            margin: 25px;
            font-size: medium;
            transition: .3s;
        }
            .body-nav-bar li:hover {
                font-size: 20px;
            }
            .body-nav-bar li a {
                text-decoration: none;
                color: white;
            }
.body-div {
    display: grid;
    grid-template-columns: 33% auto;
    margin-bottom: 10%;
}
.line::after {
    content: ' \2501';
}
    .body-div-2 {
        display: grid;
        grid-auto-rows:auto;
        row-gap: 10px;
        margin-right: 10%;
        transition: .5s;

    }
    .body-div-card-1-link {
        text-decoration: none;
        color: white;
    }
    .body-div-card-2-link {
        text-decoration: none;
        color: white;
    }
        .body-div-card-1, .body-div-card-2, .body-div-card-3 {
            transition: .3s;  
        }
            .body-div-card-1-img {
                padding-top: 5%;
                padding-bottom: 5%;
                padding-left: 2%;
                background-position:left center;
                position: relative;
                border-style:solid;
                border-color:#212121;
            }
                .body-div-card-1-img::before {
                    content: "";
                    position: absolute;
                    left: 0;
                    top: 0;
                    background-image: url(img/project1background.png);
                    background-size: cover;
                    width: 100%;
                    height: 100%;
                    z-index: -1;
                    filter:blur(2px);
                    overflow: hidden;
                    background-position:left center;
                }
                .body-div-card-2-img {
                    padding-top: 5%;
                    padding-bottom: 5%;
                    padding-left: 2%;
                    background-position:left center;
                    position: relative;
                    border-style:solid;
                    border-color:#212121;
                }
                    .body-div-card-2-img::before {
                        content: "";
                        position: absolute;
                        left: 0;
                        top: 0;
                        background-color: #212121;
                        background-size: cover;
                        width: 100%;
                        height: 100%;
                        z-index: -1;
                        filter:blur(2px);
                        overflow: hidden;
                        background-position:left center;
                    }
                    .body-div-card-3-img {
                        padding-top: 5%;
                        padding-bottom: 5%;
                        padding-left: 2%;
                        background-position:left center;
                        position: relative;
                        border-style:solid;
                        border-color:#212121;
                    }
                        .body-div-card-3-img::before {
                            content: "";
                            position: absolute;
                            left: 0;
                            top: 0;
                            background-color: #212121;
                            background-size: cover;
                            width: 100%;
                            height: 100%;
                            z-index: -1;
                            filter:blur(2px);
                            overflow: hidden;
                            background-position:left center;
                        }
            .body-div-card-1 p, .body-div-card-2 p, .body-div-card-3 p {
                font-size: 14px;
                font:bold;
                margin: 0;
                padding-bottom: .5%;
                filter:none;
                font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            }
                .body-div-card-1 h2, .body-div-card-2 h2, .body-div-card-3 h2 {
                    font-weight: 500;
                    font-size: 25px; 
                    margin: 0;
                    padding-bottom: 1.5%;
                    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                }
                .body-div-card-1 span, .body-div-card-2 span, .body-div-card-3 span {
                    color:#a7a7a7;
                    font-size: 14px;
                    padding-top: 1%;
                    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                }
    .body-div-2:hover > .body-div-card-1{
        opacity: .25;
    }

            .body-div-2:hover > .body-div-card-1:hover {
                transform: scale(1.075);
                opacity: 1;
            }
            .body-div-2:hover > .body-div-card-2{
                opacity: .25;
            }
        
                    .body-div-2:hover > .body-div-card-2:hover {
                        transform: scale(1.075);
                        opacity: 1;
                    }
                    .body-div-2:hover > .body-div-card-3{
                        opacity: .25;
                    }
                
                            .body-div-2:hover > .body-div-card-3:hover {
                                transform: scale(1.075);
                                opacity: 1;
                            }
