*{
    scroll-behavior: smooth;
}

html {
    background-color:black;
    color:white;
}
.header-grid {
    display: grid;
    grid-template-columns: auto auto;
    margin-top: 1%;
}
.title-name {
    margin: 0;
    font-weight: 100;
    margin-left: 2%;
    font-size: medium;
    font-family:Arial, Helvetica, sans-serif;
}
.header-nav-bar {
    float: right;
}
    .header-nav-bar ul {
        background-color: hsl(0, 0%, 11%);
        backdrop-filter: opacity(.5px);
        border-style: solid;
        border-color:#212121 ;
        border-radius: 3px;
        list-style:none;
        margin-top: .5%;
        margin-right: .5%;
        padding: 0;
        overflow: hidden;
        top: 0;
        z-index: 3;
        right: 0;
        position: fixed;
    }
        .header-nav-bar li {
            display:inline;
            margin: 20px;
            font-size: medium;
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        }
            .header-nav-bar li a {
                text-decoration: none;
                color: white;
            }
.avatar {
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    }
.div-titles {
    font-size: 20px;
    font-weight: 100;
    font-family:Arial, Helvetica, sans-serif;
}
    .div-titles-projects {
        font-family:Arial, Helvetica, sans-serif;
        margin-left: 33%;
        font-size: 20px;
        font-weight: 100;
    }
.header-desc-div {
    margin-top: 5%;
    margin-left: 20%;
    margin-bottom: 5%;
}
.header-desc {
    font-weight: 50;
    font-size: medium;
    font-style: italic;
    font-family:Arial, Helvetica, sans-serif;
}
.body-nav-bar {
    margin-left: 20%;
    margin-top: 20%;
    font-family:Arial, Helvetica, sans-serif;
}
    .body-nav-bar ul {
        list-style:none;
        margin: 0;
        padding: 0;
        overflow: hidden;
    }
        .body-nav-bar li {
            display: block;
            margin: 25px;
            font-size: medium;
            transition: .3s;
        }
            .body-nav-bar li:hover {
                font-size: 25px;
            }
            .body-nav-bar li a {
                text-decoration: none;
                color: white;
            }
.body-div {
    display: grid;
    grid-template-columns: 33% auto;
    margin-bottom: 10%;
}
.line::after {
    content: ' \2501';
}
    .body-div-2 {
        display: grid;
        grid-auto-rows:auto;
        row-gap: 10px;
        margin-right: 10%;
        transition: .5s;

    }
        .body-div-card-1, .body-div-card-2, .body-div-card-3 {
            transition: .3s;  
        }
            .body-div-card-1-img {
                padding-top: 5%;
                padding-bottom: 5%;
                padding-left: 2%;
                background-position:left center;
                position: relative;
                border-style:solid;
                border-color:#212121;
            }
                .body-div-card-1-img::before {
                    content: "";
                    position: absolute;
                    left: 0;
                    top: 0;
                    background-image: url(img/project1background.png);
                    background-size: cover;
                    width: 100%;
                    height: 100%;
                    z-index: -1;
                    filter:blur(2px);
                    overflow: hidden;
                    background-position:left center;
                }
            .body-div-card-1 p, .body-div-card-2 p, .body-div-card-3 p {
                font-size: 14px;
                font:bold;
                margin: 0;
                padding-bottom: .5%;
                filter:none;
                font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            }
                .body-div-card-1 h2, .body-div-card-2 h2, .body-div-card-3 h2 {
                    font-weight: 500;
                    font-size: 25px; 
                    margin: 0;
                    padding-bottom: 1.5%;
                    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                }
                .body-div-card-1 span, .body-div-card-2 span, .body-div-card-3 span {
                    color:#a7a7a7;
                    font-size: 14px;
                    padding-top: 1%;
                    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                }
    .body-div-2:hover > .body-div-card-1{
        opacity: .25;
    }

            .body-div-2:hover > .body-div-card-1:hover {
                transform: scale(1.075);
                opacity: 1;
            }
            .body-div-2:hover > .body-div-card-2{
                opacity: .25;
            }
        
                    .body-div-2:hover > .body-div-card-2:hover {
                        transform: scale(1.075);
                        opacity: 1;
                    }
                    .body-div-2:hover > .body-div-card-3{
                        opacity: .25;
                    }
                
                            .body-div-2:hover > .body-div-card-3:hover {
                                transform: scale(1.075);
                                opacity: 1;
                            }

.body-div-slideshow {
    display: grid;
    grid-auto-rows:350px;
    column-gap: 10px;
    grid-template-columns: auto auto auto auto auto;
}  
  
                

/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
    background-color: hsl(0, 0%, 11%);
    border-style: solid;
    border-color: #212121;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
  }
  
  /* This container is needed to position the front and back side */
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  /* Do an horizontal flip when you move the mouse over the flip box container */
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  /* Position the front and back side */
  .flip-card-front-1,.flip-card-front-2,.flip-card-front-3, .flip-card-back-1,.flip-card-back-2,.flip-card-back-3 {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }
  
  /* Style the front side (fallback if image is missing) */
  .flip-card-front-1 {
    background-image:url(https://automatetheboringstuff.com/images/cover_automate2_thumb.jpg);
    background-size: 100%;
    background-position: center;
  }
  .flip-card-front-2 {
    background-image: url(https://sulfurbooks.com/wp-content/uploads/2021/03/original-1642.jpeg);
    background-size: 100%;
    background-position: center;
  }
  .flip-card-front-3 {
    background-image: url(img/googlecertificate.png);
    background-size: 150%;
    background-position: left center;
  }
  /* Style the back side */
  .flip-card-back-1,.flip-card-back-2,.flip-card-back-3 {
    color: white;
    transform: rotateY(180deg);
  }




footer{
    margin-top: 10%;
    margin-bottom: 5%;
   }

.footer-div {
    display: grid;
    grid-template-columns:50% auto;
}
.footer-div-hobby {
    display: grid;
    grid-template-rows: auto;
    row-gap: 10px;
}
.footer-div-hobby-1 {
    background-color: gray;
}

.footer-div-form {
    margin-top: -10%;
    margin-bottom: 3%;
    margin-left: 20%;
    margin-right: 20%;
}
.form-card-image {
    overflow: hidden;
    padding-bottom: 60%;
    background-image: url('https://assets.codepen.io/285131/coffee_1.jpg');
    background-repeat: no-repeat;
    background-size: 150%;
    background-position: 0 5%;
    position: relative;
}

.form-card-heading {
    position: absolute;
    left:10%;
    right:10%;
    top: 3%;
    font-size: 1.75rem;
    font-weight: 700;
    color: #735400;
    line-height: 1.222;
}
    .form-card-heading small {
        display: block;
        font-size: .75em;
        font-weight: 400;
        margin-top: .25em;
    }
    form {
        padding: 1em;
        padding-bottom:5%;
        border: 0;
        background-color: white;
    }

    ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    form li + li {
        margin-top: 1em;
    }

    input,
    textarea {
        font-family: Tahoma, Verdana, sans-serif;
        width:100%;
        border:solid thin #000;
        padding-top:5px;
        padding-bottom:5px;
       

    }

        input:focus,
        textarea:focus {
            outline:0;
        }

    textarea {
        vertical-align: top;
        height: 5em;
    }

    .button-list {
        text-align: center;
    }

    .button {
        background-color: #0095ff;
        border: 1px solid transparent;
        border-radius: 3px;
        box-shadow: rgba(255, 255, 255, .4) 0 1px 0 0 inset;
        box-sizing: border-box;
        color: #fff;
        cursor: pointer;
        display: inline-block;
        font-family: -apple-system,system-ui,"Segoe UI","Liberation Sans",sans-serif;
        font-size: 13px;
        font-weight: 400;
        line-height: 1.15385;
        margin: 0;
        outline: none;
        padding: 8px .8em;
        position: relative;
        text-align: center;
        text-decoration: none;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
        vertical-align: baseline;
        white-space: nowrap;
    }

        .button:active {
            background-color: #0064bd;
            box-shadow: none;
        }

    .card-form {
        margin: 2rem auto;
        display: flex;
        flex-direction: column;
        background-color: #FFF;
        box-shadow: 0 10px 20px 0 rgba(#999, .25);
        padding: .75rem;
    }