html {
    background-color:black;
    color:white;
}
.header-grid {
    display: grid;
    grid-template-columns: auto auto;
    margin-top: 1%;
}
.title-name {
    margin: 0;
    font-weight: 100;
    margin-left: 2%;
    font-size: large;
}
.header-nav-bar {
    position: sticky;
    float: right;
}
    .header-nav-bar ul {
        list-style:none;
        margin: 0;
        padding: 0;
        overflow: hidden;
    }
        .header-nav-bar li {
            display: inline;
            margin: 25px;
            font-size: large;
        }
            .header-nav-bar li a {
                text-decoration: none;
                color: white;
            }
.avatar {
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    }
.div-titles {
    font-size: 25px;
    font-weight: 100;
}
    .div-titles-projects {
        margin-left: 33%;
        font-size: 25px;
        font-weight: 100;
    }
.header-desc-div {
    margin-top: 5%;
    margin-left: 20%;
    margin-bottom: 5%;
}
.header-desc {
    font-weight: 100;
    font-size: large;
}
.body-nav-bar {
    margin-left: 20%;
    margin-top: 20%;
}
    .body-nav-bar ul {
        list-style:none;
        margin: 0;
        padding: 0;
        overflow: hidden;
    }
        .body-nav-bar li {
            display: block;
            margin: 25px;
            font-size: large;
            transition: .5s;
        }
            .body-nav-bar li:hover {
                font-size: 25px;
            }
            .body-nav-bar li a {
                text-decoration: none;
                color: white;
            }
.body-div {
    display: grid;
    grid-template-columns: 33% auto;
    margin-bottom: 10%;
}
.line::after {
    content: ' \2501';
}
    .body-div-2 {
        display: grid;
        grid-auto-rows: auto;
        row-gap: 10px;
    }
        .body-div-card {
            background-color: gray;
        }

.body-div-slideshow {
    display: grid;
    grid-auto-rows:387px;
    column-gap: 10px;
    grid-template-columns: auto auto auto auto auto;
}  
  
                

/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
    background-color: transparent;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
  }
  
  /* This container is needed to position the front and back side */
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  /* Do an horizontal flip when you move the mouse over the flip box container */
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  /* Position the front and back side */
  .flip-card-front-1,.flip-card-front-2, .flip-card-back-1,.flip-card-back-2 {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }
  
  /* Style the front side (fallback if image is missing) */
  .flip-card-front-1 {
    background-image:url(https://automatetheboringstuff.com/images/cover_automate2_thumb.jpg);
    background-size: 100%;
  }
  .flip-card-front-2 {
    background-image: url(https://sulfurbooks.com/wp-content/uploads/2021/03/original-1642.jpeg);
    background-size: 100%;
  }
  
  /* Style the back side */
  .flip-card-back-1,.flip-card-back-2 {
    color: white;
    transform: rotateY(180deg);
  }




footer{
    margin-top: 10%;
    margin-bottom: 5%;
   }

.footer-div {
    display: grid;
    grid-template-columns:50% auto;
}
.footer-div-hobby {
    display: grid;
    grid-template-rows: auto;
    row-gap: 10px;
}
.footer-div-hobby-1 {
    background-color: gray;
}

.footer-div-form {
    margin-top: -10%;
    margin-bottom: 3%;
    margin-left: 20%;
    margin-right: 20%;
}
.form-card-image {
    overflow: hidden;
    padding-bottom: 60%;
    background-image: url('https://assets.codepen.io/285131/coffee_1.jpg');
    background-repeat: no-repeat;
    background-size: 150%;
    background-position: 0 5%;
    position: relative;
}

.form-card-heading {
    position: absolute;
    left:10%;
    right:10%;
    top: 3%;
    font-size: 1.75rem;
    font-weight: 700;
    color: #735400;
    line-height: 1.222;
}
    .form-card-heading small {
        display: block;
        font-size: .75em;
        font-weight: 400;
        margin-top: .25em;
    }
    form {
        padding: 1em;
        padding-bottom:5%;
        border: 0;
        background-color: white;
    }

    ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    form li + li {
        margin-top: 1em;
    }

    input,
    textarea {
        font-family: Tahoma, Verdana, sans-serif;
        width:100%;
        border:solid thin #000;
        padding-top:5px;
        padding-bottom:5px;
       

    }

        input:focus,
        textarea:focus {
            outline:0;
        }

    textarea {
        vertical-align: top;
        height: 5em;
    }

    .button-list {
        text-align: center;
    }

    .button {
        background-color: #0095ff;
        border: 1px solid transparent;
        border-radius: 3px;
        box-shadow: rgba(255, 255, 255, .4) 0 1px 0 0 inset;
        box-sizing: border-box;
        color: #fff;
        cursor: pointer;
        display: inline-block;
        font-family: -apple-system,system-ui,"Segoe UI","Liberation Sans",sans-serif;
        font-size: 13px;
        font-weight: 400;
        line-height: 1.15385;
        margin: 0;
        outline: none;
        padding: 8px .8em;
        position: relative;
        text-align: center;
        text-decoration: none;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
        vertical-align: baseline;
        white-space: nowrap;
    }

        .button:active {
            background-color: #0064bd;
            box-shadow: none;
        }

    .card-form {
        margin: 2rem auto;
        display: flex;
        flex-direction: column;
        background-color: #FFF;
        box-shadow: 0 10px 20px 0 rgba(#999, .25);
        padding: .75rem;
    }